In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Functions for processing daily data

Merge column names with daily dataset

In [2]:
def export_daily_event(filename):
    colsnames = pd.read_csv("header_fieldids_for_daily_data.csv")
    event = pd.read_csv(filename, sep="\t", names=colsnames["Field Name"].values.tolist())
    filename_export = filename.split(".")[0]+"event.csv"
    event.to_csv(filename_export, index=False)
    return

In [3]:
export_daily_event("20160223.export.csv")

C:\Users\Yilin.Wei\AppData\Local\Continuum\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py:3012: DtypeWarning: Columns (24) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

Merge several daily datasets

In [58]:
# Input is a list of file names or YYYYMMDDtoYYYYMMDD, e.g ["20160215event.csv","20160216event.csv"] or "20160215to20160221"
# Please put the oldest date at the first and the nearest date at the last
def merge_several_daily(listoffilename):
    if isinstance("listoffilename",list) or isinstance("listoffilename",str):
        if isinstance("listoffilename",str):
            rangeoffilename = listoffilename.split("to")
            listoffilename = []
            for i in range(int(rangeoffilename[0]),int(rangeoffilename[1])+1):
                listoffilename.append(str(i)+"event.csv")
        listoffile = []
        for filename in listoffilename:
            listoffile.append(pd.read_csv(filename)) 
        merged = pd.concat(listoffile,ignore_index=True)
        print str(listoffilename)+"is concated"
        #merged.append([pd.read_csv(filename) for filename in listoffile],ignore_index=True)
        filename_export = listoffilename[0][:8]+"to"+listoffilename[-1][:8]+"event.csv"
        merged.to_csv(filename_export, index=False)
    else:
        print "Please check input"
    return

In [41]:
merge_several_daily(["20160215event.csv","20160216event.csv"])

In [60]:
merge_several_daily("20160215to20160221")

['20160215event.csv', '20160216event.csv', '20160217event.csv', '20160218event.csv', '20160219event.csv', '20160220event.csv', '20160221event.csv']is concated

### Explore data

In [19]:
colsnames = pd.read_csv("header_fieldids_for_daily_data.csv")
event = pd.read_csv("20160218.export.csv", sep="\t", names=colsnames["Field Name"].values.tolist())

Or

In [4]:
event = pd.read_csv("20160218event.csv")

In [5]:
print "Number of rows: %s" % (event.shape[0])
print "Number of column: %s" % (event.shape[1])
event.head()

Number of rows: 253173
Number of column: 58

,GLOBALEVENTID,SQLDATE,MonthYear,Year,FractionDate,Actor1Code,Actor1Name,Actor1CountryCode,Actor1KnownGroupCode,Actor1EthnicCode,...,Actor2Geo_FeatureID,ActionGeo_Type,ActionGeo_FullName,ActionGeo_CountryCode,ActionGeo_ADM1Code,ActionGeo_Lat,ActionGeo_Long,ActionGeo_FeatureID,DATEADDED,SOURCEURL
0,512856968,20150218,201502,2015,2015.1315,NaN,NaN,NaN,NaN,NaN,...,LA,2,"Louisiana, United States",US,USLA,31.1801,-91.8749,LA,20160218,http://www.dailycomet.com/article/20160217/WIR...
1,512856969,20150218,201502,2015,2015.1315,NaN,NaN,NaN,NaN,NaN,...,AL,2,"Alabama, United States",US,USAL,32.7990,-86.8073,AL,20160218,http://www.dailyherald.com/article/20160217/ne...
2,512856970,20150218,201502,2015,2015.1315,NaN,NaN,NaN,NaN,NaN,...,AZ,2,"Arizona, United States",US,USAZ,33.7712,-111.3880,AZ,20160218,http://www.daytondailynews.com/ap/ap/south-car...
3,512856971,20150218,201502,2015,2015.1315,NaN,NaN,NaN,NaN,NaN,...,TX,2,"Alabama, United States",US,USAL,32.7990,-86.8073,AL,20160218,http://www.dailyherald.com/article/20160217/ne...
4,512856972,20150218,201502,2015,2015.1315,AUS,AUSTRALIAN,AUS,NaN,NaN,...,NaN,1,Kiribati,KR,KR,1.4167,173.0000,KR,20160218,http://www.scoop.co.nz/stories/PA1602/S00240/j...

In [5]:
# Count number of NAN for each column
event.isnull().sum(axis=0)

GLOBALEVENTID                 0
SQLDATE                       0
MonthYear                     0
Year                          0
FractionDate                  0
Actor1Code                22343
Actor1Name                22343
Actor1CountryCode        110458
Actor1KnownGroupCode     249617
Actor1EthnicCode         251494
Actor1Religion1Code      248360
Actor1Religion2Code      251478
Actor1Type1Code          141595
Actor1Type2Code          245768
Actor1Type3Code          252900
Actor2Code                65795
Actor2Name                65795
Actor2CountryCode        139310
Actor2KnownGroupCode     250142
Actor2EthnicCode         251728
Actor2Religion1Code      248849
Actor2Religion2Code      251971
Actor2Type1Code          161901
Actor2Type2Code          247596
Actor2Type3Code          253013
IsRootEvent                   0
EventCode                     0
EventBaseCode                 0
EventRootCode                 0
QuadClass                     0
GoldsteinScale                1
NumMentions                   0
NumSources                    0
NumArticles                   0
AvgTone                       0
Actor1Geo_Type                0
Actor1Geo_FullName        27909
Actor1Geo_CountryCode     27838
Actor1Geo_ADM1Code        27838
Actor1Geo_Lat             27909
Actor1Geo_Long            27909
Actor1Geo_FeatureID       27838
Actor2Geo_Type                0
Actor2Geo_FullName        70245
Actor2Geo_CountryCode     70185
Actor2Geo_ADM1Code        70185
Actor2Geo_Lat             70245
Actor2Geo_Long            70245
Actor2Geo_FeatureID       70185
ActionGeo_Type                0
ActionGeo_FullName         6146
ActionGeo_CountryCode      6044
ActionGeo_ADM1Code         6044
ActionGeo_Lat              6146
ActionGeo_Long             6146
ActionGeo_FeatureID        6044
DATEADDED                     0
SOURCEURL                     0
dtype: int64

In [9]:
# Display unique value for certain column
event["Actor1EthnicCode"].drop_duplicates()

0         NaN
5995      apa
5996      bre
5998      chy
6003      dak
6006      idg
6007      kur
6009      pus
6010      sco
6012      sen
6076      zha
10580     chr
10585     don
10587     dru
10589     hmn
10592     hni
10597     kan
10607     mdr
10608     mia
10610     nav
10611     oji
15314     ibo
15326     moh
15327     nai
15328     scn
15337     sna
15341     zza
15439     ful
15440     nam
19466     dal
         ...
160716    sus
163073    arp
163080    kha
176058    bte
176079    tmh
185109    cha
187977    bas
187978    ceb
190793    aar
196392    cho
196394    cre
196406    guj
196409    iro
199155    ber
199169    tgl
202549    dra
205648    tso
214597    lom
214604    paa
216710    fan
216714    mnc
224020    bam
226197    bod
226216    pac
226223    yor
231101    rap
233570    gba
233574    tts
238386    gar
250900    ein
Name: Actor1EthnicCode, dtype: object

In [17]:
event[["EventCode","EventBaseCode","EventRootCode"]]

        EventCode  EventBaseCode  EventRootCode
0              40             40              4
1             112            112             11
2             112            112             11
3             112            112             11
4              20             20              2
5              20             20              2
6              15             15              1
7              20             20              2
8             173            173             17
9             173            173             17
10             43             43              4
11             43             43              4
12             15             15              1
13             42             42              4
14            115            115             11
15            190            190             19
16            190            190             19
17            190            190             19
18             42             42              4
19             42             42              4
20             42             42              4
21             42             42              4
22             10             10              1
23            120            120             12
24             43             43              4
25             43             43              4
26             43             43              4
27            173            173             17
28             40             40              4
29            129            129             12
...           ...            ...            ...
253143        120            120             12
253144         51             51              5
253145        110            110             11
253146         10             10              1
253147         10             10              1
253148         20             20              2
253149         20             20              2
253150         10             10              1
253151         62             62              6
253152         62             62              6
253153        190            190             19
253154         62             62              6
253155        190            190             19
253156        190            190             19
253157         10             10              1
253158         36             36              3
253159         36             36              3
253160         23             23              2
253161         60             60              6
253162         43             43              4
253163         43             43              4
253164         26             26              2
253165         40             40              4
253166         36             36              3
253167        141            141             14
253168         43             43              4
253169         51             51              5
253170        190            190             19
253171        190            190             19
253172         17             17              1

[253173 rows x 3 columns]

In [25]:
import matplotlib
matplotlib.style.use('ggplot')

In [ ]:
%matplotlib inline
plt.figure()
event[["QuadClass"]].plot(kind='bar')
plt.axhline(0, color='k')

In [8]:
event.to_csv("20160218event.csv", index=False)

### Process other support dataset

Split event_codebook into root level and base level

In [31]:
eventcodebook = pd.read_csv("Event_codebook.csv")

In [32]:
eventrootcodebook = eventcodebook[eventcodebook.apply(lambda x: x['EVENTDESCRIPTION'] == x['EVENTDESCRIPTION'].upper(), axis=1)]
eventrootcodebook[["EVENTDESCRIPTION"]] = eventrootcodebook["EVENTDESCRIPTION"].apply(lambda x:x[0]+x[1:].lower())

C:\Users\Yilin.Wei\AppData\Local\Continuum\Anaconda2\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [33]:
eventrootcodebook

     CAMEOEVENTCODE                  EVENTDESCRIPTION
0                 1             Make public statement
11                2                            Appeal
39                3       Express intent to cooperate
68                4                           Consult
76                5  Engage in diplomatic cooperation
85                6    Engage in material cooperation
91                7                       Provide aid
98                8                             Yield
124               9                       Investigate
130              10                            Demand
157              11                        Disapprove
170              12                            Reject
197              13                          Threaten
220              14                           Protest
247              15             Exhibit force posture
253              16                  Reduce relations
267              17                            Coerce
280              18                           Assault
294              19                             Fight
302              20  Use unconventional mass violence

In [34]:
eventrootcodebook.to_csv("EventRoot_codebook.csv", index=False)
eventbasecodebook = eventcodebook[eventcodebook.apply(lambda x: x['EVENTDESCRIPTION'] <> x['EVENTDESCRIPTION'].upper(), axis=1)]
eventbasecodebook.to_csv("EventBase_codebook.csv", index=False)